html, body {
    min-width: 800px;  /* กำหนดความกว้างคงที่ */
    min-height: 600px;  /* กำหนดความสูงคงที่ */
    overflow: hidden; /* ปิดการเลื่อนหน้าจอ */
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
/*------------------------------------------------background image----------------------------------------------------------------------*/
.bg-img {
    background-image: url("https://images7.alphacoders.com/912/thumb-1920-912059.jpg");
    min-height: 100vh; /* พื้นหลังเต็มหน้าจอ */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*------------------------------------------------Model card-----------------------------------------------------------------------------*/
.history-card {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex; /* ซ่อนเมื่อเป็นขนาดเล็ก */
    width: 75%;
    height: 500px;
    
    position: absolute; /* ให้ Navbar อยู่ที่ตำแหน่งที่ต้องการ */
    top: 50%; /* จัดให้อยู่ตรงกลางแนวตั้ง */
    left: 50%; /* จัดให้อยู่ตรงกลางแนวนอน */
    transform: translate(-50%, -50%); /* เลื่อนองค์ประกอบให้ตรงกลาง */
    flex-direction: row; /* จัดเรียงเป็นแนวนอน */
    justify-content: space-between; /* จัดให้แต่ละส่วนมีระยะห่าง */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* เพิ่มเงาเพื่อความสวยงาม (ไม่บังคับ) */
    border-radius: 8px; /* ปรับขอบให้โค้งมน (ไม่บังคับ) */
    color: white;
}
.history-list {
    overflow-y: auto;
    width: 95%; /* ความกว้างของส่วนซ้าย */
    display: flex;
    flex-direction: column; /* เรียงเป็นแนวตั้ง */
    height: 80%; /* ใช้พื้นที่เต็มของส่วนนี้ */
    align-items: center;
    color: white;
    background-color:none;
    position: relative; /* ให้ Navbar อยู่ที่ตำแหน่งที่ต้องการ */
    left: 2.5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* เพิ่มเงาเพื่อความสวยงาม (ไม่บังคับ) */
    border-radius: 8px; /* ปรับขอบให้โค้งมน (ไม่บังคับ) */

}
.user-time{
    padding: 10px;
    width: 95%; /* ความกว้างของส่วนซ้าย */
    display: flex;
    flex-direction: column; /* เรียงเป็นแนวตั้ง */
    height: 25%; /* ใช้พื้นที่เต็มของส่วนนี้ */
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    display: block;
    margin-top: 20px;
}

